body {
  background-color: powderblue;
}

#somediv {
  background-color: orange;
  width: 40%;
  height: 40%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-width: thick;
  border-color: black;
  border-style: solid;
    font-weight: 500;
}