body {
  background-color: powderblue;
}

.jumbotron {
	background-color: orange !important;
	display:none;
	border-style: solid;
	padding-top: 0px;
	padding-bottom: 0px;
	/*margin-right: 20%;
	margin-left: 20%;*/
}

.text {
    display: inline-block;
    padding-right: 20px;
    right: 50%
}

.right_text {
    display: inline-block;
    left: 0;
}