body {
  background-color: powderblue;
}

.text {
    display: inline-block;
    padding-right: 20px;
    right: 50%
}

.right_text {
    display: inline-block;
    left: 0;
}

.searchBar {
	background-color: #DCE5E3;
	margin-left: 0px;
	padding-top: 2%;
	padding-bottom: 5px;
	padding-left: 70%;
}

.menuBar {
	background-color: #DCE5E3;
	padding-left: 60%;
}

a {
	padding-right: 20px !important;
	padding-left: 20px !important;
}

th, td, tr {
	border: 4px solid black;
	background-color: orange;
}

table {


	margin-top: 10%;
}

footer {
	background-color: #DCE5E3;
	position: absolute;
	bottom: 0;
  	width: 100%;
  	padding-top: 20px;
  	padding-bottom: 20px;
}

#test {
	background-color: #DCE5E3 !important;
}

body {
	
}

.btn-outline-success {
	background-color: orange !important;
	color: black !important;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.page-footer {
	padding-top: 0px;
	padding-bottom: 0px;
}

#spacer {
	padding-top: 10%;
}



	