body {
  background-color: powderblue;
}

.text {
    display: inline-block;
    padding-right: 20px;
    right: 50%
}

.right_text {
    display: inline-block;
    left: 0;
}

.searchBar {
	background-color: #DCE5E3;
	margin-left: 0px;
	padding-top: 2%;
	padding-bottom: 5px;
	padding-left: 70%;

}

.menuBar {
	background-color: #DCE5E3;
	padding-left: 60%;
	
}

a {
	padding-right: 20px !important;
	padding-left: 20px !important;
}

th, td, tr {
	border: 4px solid black;
	background-color: orange;
	width: 0% !important;
}

table {


	margin-top: 15%;
}

footer {
	background-color: #DCE5E3;
	position: absolute;
	bottom: 0;
  	width: 100%;
  	padding-top: 20px;
  	padding-bottom: 20px;
  	border-top: 4px solid black;
  	border-left: 4px solid black;
}

#test {
	background-color: #DCE5E3 !important;
}

body {
	
}

.btn-outline-success {
	background-color: orange !important;
	color: black !important;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 4px solid black;
  border-left: 4px solid black;
}

.page-footer {
	padding-top: 0px;
	padding-bottom: 0px;
}

#spacer {
	padding-top: 10%;
}

body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  background-color: teal;
  overflow-x: hidden;
  padding-top: 60px;
  border: 4px solid black;
}

.sidenav p {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

	